.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 231, 231, 0.9); /* Slightly transparent white background */
  z-index: 9999; /* Ensures it is on top of all other content */
}
